body { background: #ffffff; font-family: Verdana; font-size: 12px; text-align: left; }
td { font-family: Verdana; font-size: 12px; text-align: left; }
h1 { font-size: 14px; }
h2 { font-size: 13px; }
a { color: blue; }
a:hover { color: black; }
